<p class="toptitle">My Thoughts</p>
<section>
   <h1 class="NewThought" ng-click="$ctrl.showForm();">New Thought</h1>
</section>

    <div class="wrap">
        <section ng-repeat="post in $ctrl.postLibrary track by $index">
            <p class="postTitle">{{ post.title }}</p>
            <p class="postThought">{{ post.thought }}</p>
            <i class="fas fa-times" ng-click="$ctrl.removePost($index);"></i>
        </section>
    </div>
<div class="wrapper" ng-class="{hide: $ctrl.form-toggle"></div>
    <div class="wrapperwrap">
        <post-form 
        form-toggle="$ctrl.formToggle" 
        show-form="$ctrl.showForm();"
        add-post="$ctrl.addPost(newPost);"
        ></post-form>
    </div>
</div>