.toptitle {
    font-family: 'Homemade Apple', cursive;
    color: rgb(3, 169, 244);
    display: flex;
    justify-content: center;
    font-size: 36px;
}
body {
    font-family: 'Dosis', sans-serif;
    background-color: #f3f1f7;
}
section {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid black;
    margin-left: 20px;
    margin-right: 20px;
}
.x {
    float: right;
}
form {
width: 50%;
background-color: #B1DDEA;
flex-direction: column;
display: flex;
margin: 40px;


}
.wrap {
    border: 1px solid black;
    border-radius: 5px;
    margin-left: 23px;
    margin-right: 23px;
    background-color: white;
}
.postTitle {
align-content: center;
margin-left: 30px;
font-size: 24px;
}
.postThought {
align-content: center;
}
input {
    width: 90%;
    margin-left: 20px;
    padding-top: 1%;
    padding-bottom: 1%;
}
textarea {
    width: 90%;
    margin-left: 20px;
}
.addpost {
    width: 90%;
    margin-left: 20px;
    margin-top: 4%;
    margin-bottom: 4%;
    padding: 2%;
}
.NewThought {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 95%;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
}
.fa-times {
    float: right;
    position: static;
    margin-top: 0;
    margin-bottom: 0;
    cursor: pointer;
}
.hide {
    display: none;
}
.wrapper {
        position: fixed;
        width: 100%;
        height: 100vh;
        align-items: center;
        justify-content: center;
        display: flex;
}
.wrapperwrap {    
    width: 600px;
    background-color: #B1DDEA;
    border-radius: 5px;
}